<% include ../partials/header %>

<div class="container" id='createBookForm' style="margin-top: 20px">
    
    <form action="/catalogo/create" method="POST">
        <!-- Datos Libro -->
        
        <dl class="row">
            
            <dt class="col-2">Título</dt>
            <dd class="col-4"><input class="form-control" type="text" name="libro[titulo]" 
                    id="tituloLibro" placeholder="Titulo"></dd>
            <dt class="col-2">Subtítulo</dt>
            <dd class="col-4"><input class="form-control" type="text" name="libro[subtitulo]" 
                    id="subtituloLibro" placeholder="Subtitulo"></dd>
            <dt class="col-2">Año Publicacion</dt>
            <dd class="col-4"><input class="form-control" type="text" name="libro[anioPublicacion]" 
                    id="anioPublicacionLibro" placeholder="Año Publicacion"></dd>
            <dt class="col-2">País</dt>
            <dd class="col-4"><input class="form-control" type="text" name="libro[pais]" id="paisLibro"
                    placeholder="Pais"></dd>
            <dt class="col-2">Ciudad</dt>
            <dd class="col-4"><input class="form-control" type="text" name="libro[ciudad]" 
                    id="ciudadLibro" placeholder="Ciudad"></dd>
            <dt class="col-2">Editorial</dt>
            <dd class="col-4"><input class="form-control" type="text" name="libro[editorial]" 
                    id="editorialLibro" placeholder="Editorial"></dd>
            <dt class="col-2">Imagen</dt>
            <dd class="col-4"><input class="form-control" type="text" name="libro[img]" id="imgLibro"
                    placeholder="Imagen"></dd>
            <dt class="col-2">Autor(es)</dt>
            <dd class="col-4">
                <select class='form-control' name="authorID" onchange='paintAuthors(this)'>
                    <option value='0'>Seleccione autores...</option>
                    <% authors.forEach((item) => { %>
                    <option value="<%= item._id %>">
                        <%= item.authorName + ' ' + item.authorLastName %>
                    </option>
                    <% }); %>
                </select>
            </dd>
            <div class="col-12 edit-book-author" >
                <div id="authors-selected" style="margin-top: 23px">
                    
                </div>
            </div>
            <dt class="col-2">Descripción</dt>
            <dd class="col-12"><textarea class="form-control" type="text" name="libro[descripcion]"  id="descripcionLibro"
            placeholder="Descripción"  rows="6"></textarea></dd>
            <dt class="col-1">Categoria</dt>
            <dd class="col-5"><input class="form-control" type="text" name="libro[categoria]" id="categoriaLibro"
            placeholder="Categoria"></dd>
            <dt class="col-1">Temas</dt>
            <dd class="col-5"><input class="form-control" type="text" name="libro[temas]"  id="temasLibro"
            placeholder="Temas"></dd>
            <dt class="col-1">Keywords</dt>
            <dd class="col-5"><input class="form-control" type="text" name="libro[keywords]" id="keywordsLibro"
            placeholder="Keywords"></dd>
            <dt class="col-1">Stock</dt>
            <dd class="col-1"><input class="form-control text-center" type="text" name="libro[stock]"  id="stockLibro"
            placeholder="stock"></dd>
            <dt class="col-2">Precio</dt>
            <dd class="col-2"><input class="form-control text-center" type="number" name="libro[precio]" id="precioLibro"
            placeholder="Precio"></dd>
            <dd class="col-8"></dd>
            <dt class="col-2">Precio Oferta</dt>
            <dd class="col-2"><input class="form-control text-center" type="number" name="libro[precioOferta]"  id="precioOfertaLibro"
            placeholder="Precio"></dd>
        </dl>       
        
        <table class='table'>
            <thead>
                <tr>
                    <th>¿Es nuevo?</th>
                    <th>¿Destacado?</th>
                    <th>¿Oferta?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" type="checkbox" name="libro[nuevo]" id="nuevoLibro"></td>
                    <td><input class="form-control" type="checkbox" name="libro[destacado]"id="destacadoLibro" ></td>
                    <td><input class="form-control" type="checkbox" name="libro[oferta]" id="ofertaLibro" ></td>
                </tr>
            </tbody>
        </table>


        <input type="submit" class='btn btn-success' value="Ingresar">
    </form>
</div>

<script src="/js/catalogo.js"></script>
<% include ../partials/footer %>