<% include ../partials/header %>

<div class="container">
    
        <form action="/author/create" method="POST">
            <dl class="row"></dl>
            <dt class="col-2">Nombre</dt>
            <dd class="col-4"><input type="text" name="author[authorName]" id="author-name" class='form-control'
                    placeholder='Nombre Autor'></dd>
            <dt class="col-2">Apellido</dt>
            <dd class="col-4"><input type="text" name="author[authorLastName]" id="author-last-name" class='form-control'
                    placeholder='Apellido Autor'></dd>
            <dt class="col-2"></dt>
            <dd class="col-4"><input type="text" name="author[authorCountry]" id="author-country" class='form-control'
                    placeholder='Pais Autor'></dd>
            <dt class="col-2"></dt>
            <dd class="col-4"><input type="text" name="author[authorCity]" id="author-city" class='form-control'
                    placeholder='Ciudad Autor'></dd>
            <dt class="col-2"></dt>
            <dd class="col-4"><input type="text" name="author[authorBio]" id="author-bio" class='form-control'
                    placeholder='Bio Autor'></dd>
                    <input type="submit" class='btn btn-info' value='Ingresar'>
                </dl>
        </form>
    
</div>

<% include ../partials/footer %>