<%include partials/header%>

<div class="container">
    <div class="row">
        <div class="col-2">
            <div id='zona-libro-destacado' class="row libro-destacado" ></div>
        </div>
    </div>
    

    <div id='mostrar-ofertas' class="row"></div>
</div>

<script>
    // ########################################
    //    Usa axios: va a la base de datos
    //    y trae las ofertas. Las pinta
    //      TO DO: separar en func chicas
    // ########################################
    

    async function cargarOfertas() {
        let zona = document.getElementById('mostrar-ofertas');

        let librosEnOferta = await axios.get('/ofertas')
            .then(response => response.data)
            .catch(error => {
                console.log('Error');
            });

        var html = '';
        let count = 0;
        librosEnOferta.forEach(item => {
            html +=
                `<div class="card text-left">
                    <img class="card-img" src="${item.img}" alt="">
                    <div class="card-body">
                    <h4 class="card-title">${item.titulo}</h4>
                        <p class="card-text">${item.precio}</p>
                    </div>
                </div>`;
            count++;
        });

        html +=
            `<div class='col-12'>
                <button class='btn btn-info btn-lg'>Ver mas ofertas</button>
            </div>
            `;
        
        zona.innerHTML = html;
    };

    async function cargarDestacado() {
        let zona = document.getElementById('zona-libro-destacado');
        let data = await axios.get('/admin/destacado')
            .then( response => response.data)
            .catch(err => err );
            
            let r = Math.floor(Math.random() * (data.length));
            
            zona.innerHTML = `
                    <div class="oferta">
                        <img class='destacado-libro-imagen' src='${data[r].img}' />
                        <p class='destacado-libro-parrafo'>${data[r].descripcion.substr(0,200)}...</p>
                        <a class='btn btn-lg btn-info' href='catalogo/${data[0]._id}'>Ir a página de libro</a>
                    </div>
            `;
    }

    document.addEventListener('DOMContentLoaded', async function () {
        await cargarOfertas();
        await cargarDestacado();
    }, false);
</script>

<%include partials/footer%>