<%include partials/header%>

    <div class="container">
        <div class="row">
            <div class="col-4">
                Letras Nomadas
            </div>
            <div class="col-8 text-right">
                link link link link link
            </div>
        </div>
        <hr>

        <div class="row libro-destacado" style='background-color: black; height: 300px;'>
            <div class="col-4">

            </div>
            <div class="col-6">

            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="card text-left|center|right">
                    <img class="card-img" src="https://http2.mlstatic.com/D_NQ_NP_221325-MLA25427931420_032017-F.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Libro</h4>
                        <p class="card-text">100</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-left">
                    <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_221325-MLA25427931420_032017-F.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Libro</h4>
                        <p class="card-text">100</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-left|center|right">
                    <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_221325-MLA25427931420_032017-F.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Libro</h4>
                        <p class="card-text">100</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%include partials/footer%>