<% include ../partials/header %>

<h1 class="text-center">Panel de administración</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <button class='btn adminpanel-buttons btn-info' onclick='pintaOfertas()'>Ofertas</button>
            <button class='btn adminpanel-buttons btn-info' onclick='pintaDestacado()'>Destacado</button>
            <button class='btn adminpanel-buttons btn-info' onclick='pintaLibros()'>Libros</button>
            <button class='btn adminpanel-buttons btn-info' onclick='pintaResena()'>Reseñas</button>
            <button class='btn adminpanel-buttons btn-info' onclick='pintaFAQ()'>FAQ</button>
            <button class='btn adminpanel-buttons btn-info' onclick='pintaGeneric()'>asdf</button>
        </div>
        <div class="col-11">
            <div id="admin-functionpainted-zone" class="container">

            </div>
        </div>
    </div>


</div>
<script src="/js/panel.js"></script>
<script>
    var zone = document.getElementById('admin-functionpainted-zone');
    async function pintaFAQ() {
        zone.innerHTML = '';
        zone.innerHTML = await generaFAQ();

    }

    async function generaFAQ(){
        let data = await 
            axios({
                method  : 'post',
                url     : '/utilities/faq',
                data    : {
                    type : 'faq'
                }
            })
            .then(
                response => {
                    console.log(response);
                    return response.data;
                }
            ).catch( err => err );
        let div = 
        `
            <div>
                <h1>${data}<h1>
            </div>
        `;
        return div;
    }
</script>



<% include ../partials/footer %>