<% include ../partials/header %>

<div class="container">
    <h1 class="text-center">¿Quienes somos?</h1>
    <br>
    <div class="row">
        <div class="col-12">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores vel quis assumenda earum beatae officiis minima minus nihil nulla, impedit excepturi iste numquam sed eaque quasi voluptatibus porro voluptatem? Eaque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores vel quis assumenda earum beatae officiis minima minus nihil nulla, impedit excepturi iste numquam sed eaque quasi voluptatibus porro voluptatem? Eaque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores vel quis assumenda earum beatae officiis minima minus nihil nulla, impedit excepturi iste numquam sed eaque quasi voluptatibus porro voluptatem? Eaque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores vel quis assumenda earum beatae officiis minima minus nihil nulla, impedit excepturi iste numquam sed eaque quasi voluptatibus porro voluptatem? Eaque!</p>
        </div>
    </div>
</div>

<% include ../partials/footer %>