<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1><%= fQS.title  %></h1>
        <div class="col-12">
            <p><%= fQS.text %></p>
        </div>
    </div>
</div>

<% include ../partials/footer %>