<% include ../partials/header %>

<div class="container">
    <div class="row">
        <a href='/categoria/resultados/Historia' class="col-4"><div id='cat-historia' class='categoria-elemento'>Historia</div></a>
        <a href='/categoria/resultados/Sociología' class="col-4"><div id='cat-generic' class='categoria-elemento'>Sociología</div></a>
        <a href='/categoria/resultados/filosofia' class="col-4"><div id='cat-generic' class='categoria-elemento'>Filosofía</div></a>
    </div>
</div>


<% include ../partials/footer %>