<% include ../partials/header %>

<div class="container">
    <div class="row">
        <a href='/categoria/resultados' class="col-4"><div id='cat-historia' class='categoria-elemento'>Historia</div></a>
        <div class="col-4"><div id='cat-generic' class='categoria-elemento'>Sociología</div></div>
        <div class="col-4"><div id='cat-generic' class='categoria-elemento'>Filosofía</div></div>
    </div>
</div>


<% include ../partials/footer %>